@model InfTeh_test.Models.NavigationModel
@if (Model.Files.Any() || Model.Folders.Any())
{
    <script>
        $(document).ready(function () {
            $('ul li a').off('click').on('click', function (e) {
                loadChildrenByElement(this);
            });
        });
    </script>
    <script>
        var OpenedFileID = null;

        function deleteFolder(folderid) {
            showPreloader();
            $.ajax({
                url: "@Url.Action("_PartialDeleteFolderForm", "Folder")",
                data: {
                    folderid: folderid
                },
                success: function (html) {
                    $('#ModalBody').html(html);
                }
            }).always(function() {
                hidePreloader();
            });
        }
        function renameFolder(folderid) {
            showPreloader();
            $.ajax({
                url: "@Url.Action("_PartialRenameFolderForm", "Folder")",
                data: {
                    folderid: folderid
                },
                success: function (html) {
                    $('#ModalBody').html(html);
                }
            }).always(function () {
                hidePreloader();
            });
        }
        function deleteFile(fileid) {
            showPreloader();
        
            $.ajax({
                url: "@Url.Action("_PartialDeleteFileForm", "File")",
                data: {
                    fileid: fileid
                },
                success: function (html) {
                    $('#ModalBody').html(html);
                }
            }).always(function () {
                hidePreloader();
            });
        }
        function showFileData(fileid) {
            setPreloader($('#explorer_content_container'));
            OpenedFileID = fileid;
            $.ajax({
                method: "POST",
                url: "@Url.Action("ShowFileData", "File")",
                data: {
                    fileid: fileid
                },
                success: function (html) {
                    $('#explorer_content_container').html(html);
                }
            });
        }
    </script>
}
@foreach (var folder in Model.Folders)
{
    <li class="nav-item" data-folder-id="@folder.folderid">
        <div id="folder_preloader_@folder.folderid" class="folder_preloader"></div>
        <div id="folder-container-@folder.folderid"
             data-folder-id="@folder.folderid"
             data-parent-folder-id="@folder.parent_folderid"
             style="position: relative;">
            <a class="nav-link nav-link-collapse"
               href="#"
               id="SubItems_@folder.folderid"
               data-folder-id="@folder.folderid"
               data-toggle="collapse"
               data-target="#collapse_@folder.folderid"
               aria-controls="collapse_@folder.folderid"
               aria-expanded="false">📁 @folder.displayname</a>
            <button class="btn-sm btn-warning hidden-control mr-5"
                    onclick="renameFolder('@folder.folderid')"
                    data-toggle="modal"
                    data-target="#ModalWindow">
                <i class="fa fa-pencil-square" aria-hidden="true"></i>
            </button>
            <button class="btn-sm btn-danger hidden-control"
                    onclick="deleteFolder('@folder.folderid')"
                    data-toggle="modal"
                    data-target="#ModalWindow">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
        </div>
        @if (folder.parent_folderid == null)
        {
            <ul class="nav-second-level collapse"
                id="collapse_@folder.folderid" data-parent="#navAccordion"></ul>
        }
        else
        {
            <ul class="nav-second-level collapse"
                id="collapse_@folder.folderid" data-parent="#SubItems_@folder.parent_folderid"></ul>
        }
    </li>
}
@foreach (var file in Model.Files)
{
    <li class="nav-item" data-file-id="@file.fileid">
        <div id="file-container-@file.fileid" 
             class="nav-file text-white" 
             data-file-id="@file.fileid"
             data-parent-folder-id="@file.folderid"
             style="position: relative;">
            <div class="file-icon" style="background-image: url(/Content/FileIcons/@file.IconFileName)"></div>
            <a href="#"> @(file.displayname).@(file.FileExtension?.displayname)</a>
            <a class="btn-sm btn-primary hidden-control" style="right:100px" 
               href="@Url.Action("DownloadFile","File")?fileid=@file.fileid">
                <i class="fa fa-download" aria-hidden="true"></i>
            </a>
            <button class="btn-sm btn-success hidden-control mr-5" 
                    onclick="showFileData(@file.fileid)">
               <i class="fa fa-eye" aria-hidden="true"></i>
            </button>  
            <button class="btn-sm btn-danger hidden-control" 
                    onclick="deleteFile('@file.fileid')"
                    data-toggle="modal"
                    data-target="#ModalWindow">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>  
        </div>
    </li>
}