@model InfTeh_test.Models.NavigationModel
@if (Model.Files.Any() || Model.Folders.Any())
{
<script>
        $(document).ready(function () {
            $('ul li a').off('click').on('click', function (e) {
                loadChildrenByElement(this);
            });
        });
</script>
}
@foreach (var folder in Model.Folders)
{
    <li class="nav-item" data-folder-id="@folder.folderid">
        <div id="folder-container-@folder.folderid" 
             data-folder-id="@folder.folderid"
             data-parent-folder-id="@folder.parent_folderid">
            <a class="nav-link nav-link-collapse"
               href="#"
               id="SubItems_@folder.folderid"
               data-folder-id="@folder.folderid"
               data-toggle="collapse"
               data-target="#collapse_@folder.folderid"
               aria-controls="collapse_@folder.folderid"
               aria-expanded="false">📁 @folder.displayname</a>
        </div>
        @if (folder.parent_folderid == null)
        {
            <ul class="nav-second-level collapse"
                id="collapse_@folder.folderid" data-parent="#navAccordion"></ul>
        }
        else
        {
            <ul class="nav-second-level collapse"
                id="collapse_@folder.folderid" data-parent="#SubItems_@folder.parent_folderid"></ul>
        }
    </li>
}
@foreach (var file in Model.Files)
{
    <li class="nav-item" data-file-id="@file.fileid">
        <div id="file-container-@file.fileid" 
             class="nav-file text-white" 
             data-file-id="@file.fileid"
             data-parent-folder-id="@file.folderid">
            <div class="file-icon" style="background-image: url(/Content/FileIcons/@file.IconFileName"></div>
            <a href="#"> @(file.displayname).@(file.FileExtension?.displayname)</a>
        </div>
    </li>
}