@model InfTeh_test.Models.File.FileEditModel

<div class="col p-2">
    <input type="button" value="Сохранить" onclick="SaveFileData()" class="btn btn-sm btn-outline-success" />
    <a href="@Url.Action("DownloadFile","File")?fileid=@Model.fileid"
       class="btn btn-sm btn-outline-primary">Скачать</a>
    <input type="button" value="Удалить"
           data-toggle="modal"
           data-target="#ModalWindow"
           onclick="deleteFile(@Model.fileid)"
           class="btn btn-sm btn-outline-danger" />
</div>


@Html.HiddenFor(m => m.fileid)
<div class="col-12 input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Название</span>
    </div>
    @Html.TextBoxFor(model => model.displayname
        , new
        {
            @class = "form-control"
        })
    <div class="input-group-append">
        <span class="input-group-text">.@Model.FileExtension.displayname</span>
    </div>
</div>

<div class="col-12 input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Описание</span>
    </div>
    @Html.TextBoxFor(model => model.description
        , new
        {
            @class = "form-control"
        })
</div>
@Html.TextAreaFor(m => m.FileContentAsString,
    new
    {
        @class = "form-control text-white bg-dark",
        @resize = "vertical",
        @style = "max-height: 700px; height: 700px;"
    })




@if (string.IsNullOrEmpty(Model.FileContentAsString))
{
    <script>
        $(document).ready(function () {
            $('#FileContentAsString').attr('placeholder',
                'Данный файл пустой.');
        });
    </script>
}

<script>
    function SaveFileData() {
        showPreloader();
        $.ajax({
            url: "@Url.Action("SaveFileData", "File")",
            method: "POST",
            data: {
                fileid: @Model.fileid,
                fileName: $('#displayname').val(),
                description: $('#description').val(),
                content: $('#FileContentAsString').val()
            },
            success: function (html) {
                $('#toastContainer').html(html);
                loadChildrenByFolderID(@Model.folderid);
            }
        }).always(function () {
            hidePreloader();
        });
    }
</script>