<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@Url.Content("~/Content/ico/siteicon.ico")" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css/bootstrap")
    @Styles.Render("~/bundles/css/custom")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom-js")
    @RenderSection("scripts", required: false)
</body>
</html>
